{{!< default}}

{{#post}}
<main class="under-construction">
    <section class="under-construction__trulydigital">
        <p class="under-construction__intro">
            <span>Estamos en</span>
            <span>&nbsp;</span>
            <span>Construcción</span>
        </p>
        <h1 class="under-construction__title">
            Disculpa las molestias mientras preparamos información valiosa para ti.
        </h1>
        <p class="under-construction__introduction">
            Si tienes sugerencias o temas que te gustaría ver aquí, ¡nos encantaría escucharte! Gracias por tu paciencia.
        </p>
        <div class="under-construction__cta">
            <a 
                class="under-construction__init-course"
                rel="noopener noreferrer"
                href="/"
            >   
                {{> "icons/UpRightDiagonalArrowSvg/UpRightDiagonalArrowSvg"}}
                <span>Inicio</span>
            </a>

            <a 
                class="under-construction__portfolio"
                target="_blank"
                rel="noopener noreferrer"
                href="/portafolio"
            >
                {{> "icons/ComputerSvg/ComputerSvg"}}
                <span>Portafolio</span>
            </a>

            <a 
                class="under-construction__github"
                target="_blank"
                rel="noopener noreferrer"
                href="https://github.com/TrulyDigital"
            >
                {{> "icons/GithubSvg/GithubSvg"}}
                <span>Github</span>
            </a>
        </div>
    </section>
</main>
{{/post}}

<script type="module">
    document.getElementById('idMenuGridButton').disabled = true;
    document.getElementById('idMenuGridButton').classList.add('menu-grid__button--disabled');
</script>