{{!< default}}

<main class="home">
    <h1 class="home__title">
        <div>
            <span>Desarrollo&nbsp;</span>
            <span>Backend y</span>
        </div>
        <div>
            <span>Arquitectura de&nbsp;</span>
            <span>Software</span>
        </div>
    </h1>

    <section class="home__hero">
        <img src="{{asset "images/hero-large-1920x1080.webp"}}" alt="">
    </section>

    <section class="home__description">
        <p>
            Este curso de programación desde cero está diseñado especialmente para aprender a programar paso a paso <span>APIs Rest</span>, sin necesidad de experiencia previa.
        </p>
        <p>
            Practicaras en proyectos reales usando herramientas modernas como <span>NestJS</span>, uno de los frameworks más potentes y demandados del mercado.
        </p>
        <!--
        <p>
            Si buscas un curso de programación completo para aprender a programar microservicios, ¡estás en el lugar indicado!
        </p>
        -->
        <p>
            <a href="" class="home__description-cta">
                Inicio del curso 
            </a>
        </p>
    </section>
</main>