{{!< default}}

<main class="home">
    <h1 class="home__title">
        <div>
            <span>Desarrollo&nbsp;</span>
            <span>Backend y</span>
        </div>
        <div>
            <span>Arquitectura de&nbsp;</span>
            <span>Software</span>
        </div>
    </h1>
</main>