{{!< default}}

<main class="home">
    <section class="home__trulydigital">
        <p class="home__intro">
            <span>Truly</span>
            <span>&nbsp;</span>
            <span>Digital</span>
        </p>
        <h1 class="home__title">
            ¡Descubre el poder de NestJS para construir APIs escalables y eficientes!
        </h1>
        <p class="home__introduction">
            NestJS emerge como el framework de Node.js preferido por desarrolladores que buscan estructura modular, TypeScript nativo y arquitectura basada en microservicios.
        </p>
        <div class="home__cta">
            <a 
                class="home__init-course"
                rel="noopener noreferrer"
                href="/en-construccion/"
            >   
                {{> "icons/UpRightDiagonalArrowSvg/UpRightDiagonalArrowSvg"}}
                <span>Empezar</span>
            </a>

            <a 
                class="home__portfolio"
                target="_blank"
                rel="noopener noreferrer"
                href="/portfolio/"
            >
                {{> "icons/ComputerSvg/ComputerSvg"}}
                <span>Portafolio</span>
            </a>

            <a 
                class="home__github"
                target="_blank"
                rel="noopener noreferrer"
                href="https://github.com/TrulyDigital"
            >
                {{> "icons/GithubSvg/GithubSvg"}}
                <span>Github</span>
            </a>
        </div>
    </section>
</main>

<script type="module">
    document.getElementById('idMenuGridButton').disabled = true;
    document.getElementById('idMenuGridButton').classList.add('menu-grid__button--disabled');
</script>