<section class="footer__icon">
    <a href="/">
        {{> "icons/LogoSvg/LogoSvg"}}
        TrulyDigital
    </a>
</section>

<section class="footer__nav">
    <div class="footer__information">
        <div class="footer__about">
            <a href="">Acerca de</a>
            <a href="">Contacto</a>
            <a href="">FAQs</a>
        </div>
        <div class="footer__privacy">
            <a href="">Política de Privacidad</a>
            <a href="">Política de Cookies</a>
            <a href="">Aviso Legal</a>
            <a href="">Terminos y Condiciones</a>
        </div>
    </div>
    <div class="footer__cta">
        <h2>Tienes un proyecto en mente?</h2>
        <p>Hablemos!</p>
    </div>
</section>

<section class="footer__social-networks">
    <div class="footer__social-networks-icons">
        <a 
            href="https://www.linkedin.com/in/alex-daniel-meza-lopez/"
            target="_blank"
            rel="noopener noreferrer"
        >
            {{> "icons/LinkedinSvg/LinkedinSvg"}}
        </a>

         <a 
            href="https://github.com/TrulyDigital"
            target="_blank"
            rel="noopener noreferrer"
        >
            {{> "icons/GithubSvg/GithubSvg"}}
        </a>

        <a 
            href="https://x.com/soyalexdaniel"
            target="_blank"
            rel="noopener noreferrer"
        >
            {{> "icons/TwitterSvg/TwitterSvg"}}
        </a>
    </div>
    <div class="footer__author">
        <p>
            <span>@ 2025 Alex Daniel</span> 
            <span>alex.daniel.m@trulydigital.tech</span>
        </p>
        <p>
            Todos los derechos reservados
        </p>
    </div>
</section>