.nav__menu-list{
    font-family: 'Inter';
    @apply
    /* sm */
    flex
    flex-col
    pt-4
    /* lg */
    lg:flex-row
    lg:pt-0
}

.nav__menu{
    @apply
    /* sm */
    flex
    flex-col
    cursor-pointer
    relative
    /* lg */
    lg:items-center
    lg:ml-5
}

.nav__menu-inner {
    @apply
    /* sm */
    flex
    items-center
    mt-4
    border-b
    border-b-pink-300
    justify-between
    pb-1
    /* lg */
    lg:mt-0
    lg:border-0
    lg:pb-0
    lg:justify-normal
}

.nav__menu-inner-title{
    @apply
    /* sm */
    text-base
    text-gray-800
    /* lg */
    /*lg:group-hover:text-fuchsia-600*/
}

.nav__menu-inner-icon{
    @apply
    /* sm */
    ml-2 
    h-[6px] 
    transform 
    transition-transform 
    duration-300
    /* lg */
    lg:group-hover:-rotate-90
}

.nav__menu-inner-icon--rotate-90 {
    @apply
    -rotate-90
}

.nav__submenu-container {
    @apply
    /* sm */
    pt-4
    transition-all 
    duration-300 
    ease-in-out 
    /* lg */
    lg:absolute
    lg:top-full
    lg:invisible
    lg:opacity-0
    lg:z-10
    lg:left-0
    lg:group-hover:visible
    lg:group-hover:opacity-100
}

.nav__submenu-container--width-1-col{
    @apply
    /* sm */
    w-full
    /* lg */
    lg:w-[320px]
}

.nav__submenu-container--width-2-cols{
    @apply
    /* sm */
    w-full
    /* lg */
    lg:w-[576px] 
}

.nav__submenu-container--hidden {
    @apply
    /* sm */
    max-h-0
    invisible
    opacity-0
}

.nav_submenu-container--visible {
    @apply
    /* sm */
    max-h-[100vh]
    visible
    opacity-100
    mb-8
}

.nav__submenu-list {
    @apply
    /* lg */
    lg:border
    lg:shadow-2xl
    lg:bg-white
    lg:border-gray-100
    lg:rounded-md
    lg:p-4
}

.nav__submenu-list--1-col {
    @apply
    /* lg */
    lg:flex 
    lg:flex-col
}

.nav__submenu-list--2-cols {
    @apply
    /* lg */
    lg:grid 
    lg:grid-cols-2
}

.nav__submenu {
    @apply
    /* sm */
    hover:bg-gray-100
    hover:rounded-md
    pt-2
    pb-2
    border-b
    /* lg */
    lg:p-2
    lg:border-0
}

.nav__submenu > a {
    @apply
    /* sm */
    flex 
    flex-row 
    items-center
    hover:opacity-100
}

.nav__submenu > a > img {
    @apply
    /* sm */
    h-6 
    w-6
    self-start
    p-1
    /* lg */
    mt-1
}

.nav__submenu > a > span {
    @apply
    /* sm */
    flex 
    flex-col 
    gap-1
    ml-3
}

.nav__submenu > a > span > span:nth-child(1) {
    @apply
    /* sm */
    text-base
    font-bold
    text-gray-800
    /* lg */
    lg:text-lg
}
  
.nav__submenu > a > span > span:nth-child(2) {
    @apply
    text-sm
    text-gray-600
}