.home{
    @apply
    /* sm */
    flex
    flex-col
    justify-center
    /* lg */
    lg:justify-center
}

.home__title {
    font-family: 'Inter';
    @apply
    /* sm */
    flex
    flex-col
    font-bold
    text-4xl
    w-11/12
    mt-8
    /* lg */
    lg:text-5xl
    lg:items-center
}

.home__title > div:nth-child(1) {
    @apply
    /* sm */
    flex
    flex-col
    text-fuchsia-900
    /* lg */
    lg:flex-row
}

.home__title > div:nth-child(2) {
    @apply
    /* sm */
    flex
    flex-col
    text-slate-500
    mt-2
    /* lg */
    lg:flex-row
}

.home__hero {
    @apply
    /* sm */
    mt-14
}

.home__description {
    @apply
    /* sm */
    m-auto
    w-11/12
    text-slate-600
    font-bold
    /*lg */
    lg:text-4xl
    lg:pt-10
    lg:pb-10
}

.home__description > p {
    @apply
    /* sm */
    /* lg */
    lg:mt-7
    lg:leading-snug
}

.home__description > p span {
    @apply
    /* sm  */
    text-rose-500
    /* lg */
}

.home__description-cta {
    @apply
    /* sm */
    hover:text-fuchsia-700
    text-fuchsia-600
    /* lg */
}